.resume{
    .info-section{
        width: 20%;
    }

   
    .content-area{

        background: $color3;
        margin-left: 20%;
        background: white;
        width:80%;
        height: 100%;
         overflow: hidden;

         .category{
             margin-bottom: 56px;
            h1{
                font-weight: 700;
                font-size: 2rem;
                text-transform: uppercase;
                margin-bottom: 56px;
                letter-spacing: .3rem;
            }
            
    
            .xp-section{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 56px;
                grid-row-gap: 30px;
                max-width: 1000px;
                
                .xp-box{
                    &:hover{
                        -webkit-box-shadow: 5px 12px 29px -1px rgba(75,33,255,0.5);
                        -moz-box-shadow: 5px 12px 29px -1px rgba(75,33,255,0.5);
                        box-shadow: 5px 12px 29px -1px rgba(75,33,255,0.5);
                      
                    }
                   padding: 30px;
                   transition: all .3s ease-in-out;
                   -webkit-box-shadow: 5px 12px 29px -1px rgba(75,33,255,0.1);
                        -moz-box-shadow: 5px 12px 29px -1px rgba(75,33,255,0.1);
                        box-shadow: 5px 12px 29px -1px rgba(75,33,255,0.1);
                        cursor: pointer;
    
                   h5{
                    font-weight: 500;
                    font-size: 1.3rem;
                    margin-bottom: 1.4rem;
                }
                p{
                    font-weight: 300;
                    font-size: 1rem; 
                    margin-bottom: 1rem;
                }
                }
            }
         }

        
    }
}